# === Global Settings ===
TIMEZONE=Asia/Ho_Chi_Minh

# === Authentik Database ===
PG_DB=authentik
PG_USER=authentik
PG_PASS=your_strong_password_here

# === Authentik Server ===
AUTHENTIK_ALLOWED_HOSTS=*
AUTHENTIK_SECRET_KEY=your_secret_key_here
AUTHENTIK_IMAGE=ghcr.io/goauthentik/server
AUTHENTIK_TAG=2026.2.2
COMPOSE_PORT_HTTP=9000
COMPOSE_PORT_HTTPS=9443

# === Application Database (Postgres) ===
POSTGRES_DB=chatbox-engine
POSTGRES_USER=chatbox
POSTGRES_PASSWORD=your_postgres_password_here

# === PgAdmin ===
PGADMIN_DEFAULT_EMAIL=admin@company.com
PGADMIN_PASSWORD=your_pgadmin_password_here

# === MinIO ===
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123

# === Redis ===
# No password required
